@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-family: 'Limelight', cursive;
}

button {
    padding: 5px 10px;
    margin: 0 10px;
    height: 25px;
    background-color: #ff8f69;
    cursor: pointer;
    width: 70px;
    border-radius: 10px;
    font-family: 'Limelight', cursive;
}

button:disabled{
    cursor: not-allowed;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
}

h4 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
}

.interval-container-inner {
    display: flex;
    margin: 0 40px;
    align-items: center;
}

.interval-container-outer {
    display: flex;
}

.interval-length {
    font-size: 2rem;
    margin: 0 10px;
}

.timer-container {
    border: 2px solid #ffe6b9;
    margin-top: 40px;
    border-radius: 25px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px #ff8f69;
    padding: 10px;
}

.timer {
    font-size: 2rem;
}

.timer-action {
    margin-top: 20px;
    text-align: center;
}

.setting-link {
    position: absolute;
    top: 10px;
    right: 20px;
}